@import url('https://fonts.cdnfonts.com/css/nulshock');
@import url('https://fonts.cdnfonts.com/css/lexend');

body html{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(29, 29, 29);
}

.empty{
    position: relative;
    height: 700px;
    top: 50px;
}
#brand{
    display: block;
    color: #ffffff;
    max-height: fit-content;
    height: 130px;
}
.topbg{
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    background-color:#000000;
    height: 100px;
    width: 100%;
    padding-top: 30px;
    font-family: 'Nulshock', sans-serif;
    border-radius: 10px;
}
#brand #menu{
    position: relative;
    z-index: 3;
    height: 30px;
    width: 30px;
}
svg{
    position: relative;
    transition: .5s;
    fill: #ffffff;
    top: -95px;
    left: 15px;
}
svg:hover{
    scale: 1.2;
}

.tm{
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    height: fit-content;
    padding: 10px;
    margin: 0px 10px;
}
.tm .tab{
    border-radius: 10px;
    padding: 30px;
    font-size: 18px;
    margin: 30px 0px 10px 0px;
    color: rgb(255, 255, 255);
    background-color: #7e00e685;
    box-shadow: 1px 5px 10px #000000;
}
.tm h2{
    margin-top: -1px;
    text-align: center;
}
.tab{
    max-height: fit-content;
    max-width: fit-content;
}
.cont {
    position: relative;
    display: flex;
    gap: 2%;
    height: fit-content;
    background-color: #0b9460;
    color: rgb(255, 255, 255);
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    overflow: hidden;
    margin: 10px;
}

.item:nth-child(1), .item:nth-child(4) {
    width: 100%;
    height: 25px;
    padding: 5px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
}

.item:nth-child(2) {
    max-width: 30%;
    padding: 10px;
    border-radius: 10px;
}

.item:nth-child(3) {
    flex-grow: 1;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}
.ts-wrapper {
    width: 100%;
    overflow: hidden;
    background: #f0f0f0;   border: 1px solid #ccc;
}
.ts {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: tss 3s linear infinite;
    color: #ffffff;
}

@keyframes tss {
0% {
    transform: translateX(0%);
}
100% {
    transform: translateX(-100%);
}
}

.ts2-wrapper {
    width: 100%;
    overflow: hidden;
    background: #f0f0f0;   border: 1px solid #ccc;
}

.ts2 {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: ts2s 10s linear infinite;
    color: #ffffff;
}

@keyframes ts2s {
0% {
    transform: translateX(-100%);
}
100% {
    transform: translateX(0%);
}
}

.social{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 180px;
    width: 100%;
    border-radius: 20px;
    margin: 0;
}
.stab{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    height: fit-content;
    padding: 20px;
    top: 10%;
    border-radius: 10px;
    background-color: #000000ec;
    box-shadow: 4px 8px 25px rgba(0, 0, 0, 0.295);
}

@property --angle{
    syntax: "<angle>" ;
    initial-value: 0deg;
    inherits: false;
}

.stab::after, .stab::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), red,blue,rgb(0, 255, 213),rgb(0, 255, 0),yellow,orange,red) ;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 5s rotate linear infinite;
}

.stab::before{
    filter: blur(2rem);
    opacity: 0.5;
}

@keyframes rotate{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg ;
    }
}

.stab .txh{
    font-size: 40px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #f0f0f0;
    font-weight: bold;
    font-family: 'Lexend', sans-serif;
}

.s-bar{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    width: 100ev;
    top: 5%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sl, .sf, .sx, .ds{
    width: 200px;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    color: #f0f0f0;
    cursor: pointer;
}
.social .sl{
    position: relative;
    background: linear-gradient( -20deg, #833ab4, #fd1d1d, #fcb045);
    background-color: #0000005e;
    transition: .2s;
}
.s-bar .sl:hover{
    background: #000000;
    scale: 1.1;
}
.social .sf{
    position: relative;
    background-color: #00ff22;
    color: #000000;
    transition: .2s;
}
.s-bar .sf:hover{
    background: #000000;
    color: #f0f0f0;
    scale: 1.1;
}
.social .sx{
    position: relative;
    background-color: #ff0000;
    transition: .2s;
}
.s-bar .sx:hover{
    background: #000000;
    scale: 1.1;
}
.social .ds{
    position: relative;
    background-color: #6200ff;
    transition: .2s;
}
.s-bar .ds:hover{
    background: #000000;
    scale: 1.1;
}



#imbar{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 50px;
    justify-content: center;
    align-items: center;
}
.ib{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.ibs{
    position: relative;
    display: flex;
    justify-content: space-aro;
    align-items: center;
    height: 400px;
    width: 300px;
    margin: 30px;
}
.ibs img{
    width: 400px;
    height: 400px;
}
.vsi{
    animation: vsi both;
    animation-timeline: view(50% 5%);
}
@keyframes vsi {
    from{
        opacity: 0;
        transform: translateY(100px) scale(.5);
    }
    to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}



.slid1, .slid2, .slid3{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    margin: 20px;
}
.ssb{
    background-color: #9c9c9c;
    align-items: center;
    width: 45%;
    height: 200px;
    margin: 20px;
}
.ssni{
    position: relative;
    top: 50px;
}
.rt{
    background-color: #ff0000;
    animation: slr both;
    animation-timeline: view(50% 5%);
}
.lf{
    background-color: #00ff22;
    animation: sll both;
    animation-timeline: view(50% 5%);
}
@keyframes slr {
    from{
        transform: translateX(-200px);
        scale: 0.5;
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        scale: 1;
        opacity: 1;
    }
}
@keyframes sll {
    from{
        transform: translateX(200px);
        scale: 0.5;
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        scale: 1;
        opacity: 1;
    }
}
